{% extends "layout.html" %}
{% load static fresh_static %}

{% block title %}
  Blog by Lemon Project
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% fresh_static 'blog/blog.css' %}">
{% endblock %}

{% block extra_body %}
  {{ block.super }}
{% endblock %}

{% block auth_user_page_header %}
  <a href="{% url 'blog:post_new' %}" class="top-menu">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
  <a href="{% url 'blog:post_draft_list' %}" class="top-menu">
    <span class="glyphicon glyphicon-edit"></span>
  </a>
{% endblock %}

{% block content %}
  <h1>Lemon's Blog</h1>
  <hr>
  {% block blog_content %}
  {% endblock %}
{% endblock %}
