{% extends "shop/layout.html" %}

{% load humanize %}

{% block shop_content %}
  <div class="item">
    {% if user.is_authenticated %}
      <a class="btn btn-default" href="{% url 'shop:item_edit' item.id %}">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a class="btn btn-default" onclick="return confirm('Are you sure?')" href="{% url 'shop:item_remove' item.id %}">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    {% endif %}

    <h2>{{ item.name }}</h2>

    <p>가격: {{ item.price|intcomma }}원</p>

    {% if item.photo %}
      <img src="{{ item.photo.url }}" style="max-width: 100%;"><br>
    {% endif %}

    {% if item.desc %}
      <p>설명: {{ item.desc }}</p>
    {% endif %}
  </div>

  <hr>
  <a href="/shop/">목록</a>
{% endblock %}
