{% load static fresh_static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <title>
          {% block title %}
            Lemon Project
          {% endblock %}
        </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
        {% block extra_head %}
          <link rel="stylesheet" href="{% fresh_static 'main.css' %}">
        {% endblock %}
    </head>
    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
            {% block auth_user_page_header %}

            {% endblock %}
            <p class="top-menu">
              Hello, <a href="{% url 'accounts:profile' %}">{{ user.username }}</a>
              <small>
                (<a href="{% url 'accounts:logout' %}">Log out</a>)
              </small>
            </p>
          {% else %}
            <a href="{% url 'accounts:login' %}?next={{ request.path }}" class="top-menu">
              <span class="glyphicon glyphicon-lock"></span>
            </a>
          {% endif %}
          <h1><a href="/blog/">Data Driven</a></h1>
        </div>
        <div class="content container">
          <div class="row">
            <div class="col-md-8">
              {% block content %}
                <p>데이터드리븐의 웹 사이트입니다.</p>
              {% endblock %}
            </div>
          </div>
        </div>

        <hr>
        &copy;
        <script type="text/JavaScript">
          var theDate = new Date().getFullYear()
          var since = 2018
          if (theDate > since) {
            theDate = since + '-' + theDate
          }
          document.write(theDate)
        </script>
        All rights reserved by DataDriven

        {% block extra_body %}
          <script src="{% static 'main.js' %}"></script>
        {% endblock %}
    </body>
</html>
